html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #1B1A55;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    width: 100%;
}

.title-1,
.title-2,
.moon,
.div-hello,
.div-about-me,
.my-photo,
.div-my-skills,
.skills1,
.in_touch,
.bottom_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

h1 {
    color: #9290C3;
    font-family: "Sacramento", cursive;
    font-size: 80px;
    margin: 20px 0 0 0;
}

h2 {
    color: #9290C3;
    font-size: 30px;
    font-family: "Sacramento", cursive;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.moon-photo {
    width: 100%;
    max-width: 410px;
}

h3 {
    font-size: 30px;
    font-family: "Sacramento", cursive;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: aliceblue;
    text-align: center;
}

.about-me {
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

.my-photo img {
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
}

.skills1 {
    flex-direction: column;
}

.content-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.content-container img {
    margin-right: 20px;
    width: 100%;
    max-width: 300px;
}

.txt1 p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    color: aliceblue;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.in_touch {
    margin: 70px 0;
}

.btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

.bottom_container {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
}

.LI {
    display: block;
    margin: 30px;
    color: aliceblue;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .txt1 p {
        width: auto;
        max-width: 100%;
        text-align: center;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .content-container img {
        margin-right: 0;
        margin-bottom: 20px;
        width: 80%;
        max-width: 300px;
    }

    h1 {
        font-size: 50px;
    }

    .moon {
        width: 300px;
    }

    .moon-photo {
        width: 200px;
    }

    .title-1, .title-2, .div-hello, .div-about-me, .my-photo, .div-my-skills, .skills1 {
        width: 100%;
        max-width: 300px;
    }

    .my-photo img {
        width: 200px;
    }
}
